body {
    font-family : Arial, sans-serif;
    background: linear-gradient(135deg, #f3f3f3, #e8e8e8);
    text-align:center;
    margin : 0;
    padding : 30px;
}

h1{
    margin-bottom : 15px;
    font-size:42px;
    position: relative;
    letter-spacing: 1px;
    display: inline-block;
    padding-bottom: 14px;
}

h1::after{
    content : "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 45%;
    height: 3px;
    background: linear-gradient(90deg, transparent, blueviolet, transparent);
    border-radius: 5px;
}

h2{
    font-size: 24px;
    margin-bottom: 15px;
}

h3{
    font-size: 18px;
    color: blueviolet;
    margin-bottom: 10px;
}

button {
    padding : 10px 15px;
    border-radius: 8px;
    cursor : pointer;
    background-color :blueviolet;
    color : white;
    font-weight : bold;
    border: none;
    transition: all 0.3s ease;
    margin-top: 15px;
   
}

button:disabled {
background-color: #c4a7f7;
cursor: not-allowed;
}

button:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(138,43,226,0.3);
    background-color: #c4a7f7;
    color: white;
}

select {
    padding : 10px 15px;
    border-radius : 8px;
    border : 2px solid blueviolet;
    background-color:white;
    
    font-weight : bold;
    outline: none;
    margin-left: 8px;
    cursor: pointer;
    transition: 0.3s ease;
}

ul {
  list-style: none;  
  padding: 0;
}

li {
    margin: 8px 0;
    font-size:16px;
}

.lists-container {
    display : flex;
    justify-content : center;
    gap : 40px;
    margin-top : 50px;
    align-items: flex-start;
    background-color: white;
    padding : 40px;
    border-radius: 18px;
    flex-wrap: wrap;
}

.shopping-section , .suggestion-section, .search-section {
    flex : 1;
    min-width : 280px;
    max-width :350px;
    min-height : 200px;
    background-color: #f8f6ff;
    padding : 25px;
    border-radius: 14px;
    border: 3px solid rgba(138, 43, 226, 0.7);
    box-shadow: 0 10px 25px rgba(0,0,0,0.03);
    transition : all 0.3s ease;
    animation: fadeInUp 0.6s ease;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform : translateY(20px);
    }
    to {
        opacity : 1;
        transform: translateY(0);
    }
}

.shopping-section:hover , .suggestion-section:hover{
    transform :translateY(-6px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.01); 
}

.app-container{
    display : flex;
    flex-direction: column;
    align-items: center;
}

.card {
    width : 100%;
    max-width: 1200px;
}